<ion-header>
  <ion-toolbar>
    <ion-title>
      Moviesfy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" class="main-refresh">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-slides autoplay="400" loop="true" speed="3000">
    <ion-slide  >
      <img src="/assets/it2.jpg"/>
      <h2>Bienvenido a <b>Moviesfy</b></h2>
      <p>Conoce todo sobre <b>las mejores películas</b> del momento.</p>
    </ion-slide>

    <ion-slide>
      <h2>Entretenimiento para<b> toda la familia</b></h2>
      <p>Tenemos películas para todos los públicos. De todos los géneros.</p>
      <img src="/assets/sonic.jpg"/>
    </ion-slide>

    <ion-slide>
      <img src="/assets/saw.jpg"/>
      <h2>Tenemos detalladas <b>Reseñas</b></h2>
      <p><b>te ayudamos!</b> con las opiniones de nuestros críticos.</p>
    </ion-slide>
    

  </ion-slides>
</ion-content>

